In [3]:
import pandas as pd
import numpy as np
from datetime import date

In [4]:
def get_countries_table():
    url = "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp"
    tables = pd.read_html(url)
    country_table = tables[1]
    del country_table['Rank']
    country_table.to_csv("countries.csv", index=False)
    return country_table

In [5]:
countries_table = get_countries_table()

In [6]:
countries_table

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7
1,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6
2,Iceland,83.0,39.2,62.0,88.4,86.8,120.3
3,Singapore,76.7,67.2,72.1,74.6,50.4,111.1
4,Barbados,76.6,19.0,48.9,80.8,69.4,43.5
...,...,...,...,...,...,...,...
116,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1
117,India,21.2,5.6,13.7,23.8,15.1,82.6
118,Egypt,21.0,3.7,12.7,21.2,16.2,20.0
119,Libya,20.4,4.3,12.7,22.2,15.2,42.0
120,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1

In [7]:
def get_country_info(country):
    country=country.capitalize().replace(' ', '+')
    url = f"https://www.numbeo.com/cost-of-living/country_result.jsp?country={country}&displayCurrency=USD"
    tables = pd.read_html(url)
    country_info_table = tables[1]
    country_info_table.columns = ['Item', 'Price', 'Range']
    return country_info_table

def get_items():
    items = get_country_info("germany")
    return items['Item']

In [8]:
country_list = countries_table['Country'].values
df = pd.DataFrame()
df['Item'] = get_items()
for country in country_list:
    df[country] = get_country_info(country)['Price']
    print("Scraping Country: "+ country)

Scraping Country: Switzerland
Scraping Country: Bahamas
Scraping Country: Iceland
Scraping Country: Singapore
Scraping Country: Barbados
Scraping Country: Norway
Scraping Country: Denmark
Scraping Country: Hong Kong (China)
Scraping Country: United States
Scraping Country: Australia
Scraping Country: Austria
Scraping Country: Canada
Scraping Country: New Zealand
Scraping Country: Ireland
Scraping Country: France
Scraping Country: Puerto Rico
Scraping Country: Finland
Scraping Country: Netherlands
Scraping Country: Israel
Scraping Country: Luxembourg
Scraping Country: Germany
Scraping Country: United Kingdom
Scraping Country: Belgium
Scraping Country: South Korea
Scraping Country: Sweden
Scraping Country: Italy
Scraping Country: United Arab Emirates
Scraping Country: Cyprus
Scraping Country: Uruguay
Scraping Country: Jamaica
Scraping Country: Malta
Scraping Country: Trinidad And Tobago
Scraping Country: Costa Rica
Scraping Country: Bahrain
Scraping Country: Greece
Scraping Country: Estonia
Scraping Country: Qatar
Scraping Country: Slovenia
Scraping Country: Latvia
Scraping Country: Spain
Scraping Country: Lithuania
Scraping Country: Slovakia
Scraping Country: Cuba
Scraping Country: Czech Republic
Scraping Country: Panama
Scraping Country: Japan
Scraping Country: Croatia
Scraping Country: Saudi Arabia
Scraping Country: Taiwan
Scraping Country: Portugal
Scraping Country: Oman
Scraping Country: Kuwait
Scraping Country: Albania
Scraping Country: Lebanon
Scraping Country: Hungary
Scraping Country: Palestine
Scraping Country: Jordan
Scraping Country: Armenia
Scraping Country: Poland
Scraping Country: Mexico
Scraping Country: El Salvador
Scraping Country: Montenegro
Scraping Country: Chile
Scraping Country: Guatemala
Scraping Country: Venezuela
Scraping Country: Bulgaria
Scraping Country: Dominican Republic
Scraping Country: Serbia
Scraping Country: Romania
Scraping Country: Turkey
Scraping Country: Cambodia
Scraping Country: Cameroon
Scraping Country: Zimbabwe
Scraping Country: Mauritius
Scraping Country: Fiji
Scraping Country: Bosnia And Herzegovina
Scraping Country: Sri Lanka
Scraping Country: South Africa
Scraping Country: Thailand
Scraping Country: Moldova
Scraping Country: Georgia
Scraping Country: North Macedonia
Scraping Country: Ecuador
Scraping Country: Kazakhstan
Scraping Country: China
Scraping Country: Nigeria
Scraping Country: Azerbaijan
Scraping Country: Philippines
Scraping Country: Russia
Scraping Country: Ghana
Scraping Country: Brazil
Scraping Country: Kenya
Scraping Country: Botswana
Scraping Country: Malaysia
Scraping Country: Peru
Scraping Country: Morocco
Scraping Country: Kosovo (Disputed Territory)
Scraping Country: Argentina
Scraping Country: Iraq

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Uganda

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Algeria

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Colombia

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Vietnam

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Tunisia

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Bolivia

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Kyrgyzstan

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Indonesia

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Iran

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Uzbekistan

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Belarus

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Ukraine

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Nepal

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Paraguay

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Madagascar

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Syria

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Tanzania

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Bangladesh

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: India

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Egypt

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

Scraping Country: Libya
Scraping Country: Pakistan

/tmp/ipykernel_138239/807636221.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[country] = get_country_info(country)['Price']

In [14]:
df

,Item,Switzerland,Bahamas,Iceland,Singapore,Barbados,Norway,Denmark,Hong Kong (China),United States,...,Nepal,Paraguay,Madagascar,Syria,Tanzania,Bangladesh,India,Egypt,Libya,Pakistan
0,"Meal, Inexpensive Restaurant",29.51 $,25.00 $,22.00 $,9.98 $,20.00 $,20.00 $,22.48 $,65.00 HK$,20.00 $,...,1.87 $,3.98 $,2.64 $,3.50 $,2.97 $,1.68 $,2.98 $,4.10 $,4.21 $,1.81 $
1,"Meal for 2 People, Mid-range Restaurant, Three...",129.85 $,100.00 $,120.00 $,69.11 $,100.00 $,95.52 $,112.42 $,500.00 HK$,75.00 $,...,18.75 $,22.93 $,15.43 $,19.90 $,22.29 $,8.84 $,14.31 $,17.62 $,22.12 $,12.65 $
2,McMeal at McDonalds (or Equivalent Combo Meal),17.71 $,9.00 $,17.60 $,7.68 $,10.00 $,12.42 $,14.24 $,47.00 HK$,11.00 $,...,7.49 $,4.77 $,4.41 $,4.75 $,5.76 $,4.21 $,4.17 $,4.10 $,4.21 $,4.34 $
3,Domestic Beer (0.5 liter draught),8.26 $,4.00 $,10.27 $,7.68 $,2.50 $,9.55 $,7.49 $,59.93 HK$,6.00 $,...,2.44 $,1.33 $,1.10 $,1.60 $,1.02 $,4.21 $,1.91 $,1.43 $,0.74 $,1.81 $
4,Imported Beer (0.33 liter bottle),7.08 $,6.00 $,8.80 $,7.68 $,3.00 $,9.55 $,7.49 $,55.00 HK$,7.00 $,...,3.37 $,1.99 $,1.54 $,2.00 $,2.14 $,4.82 $,3.58 $,2.87 $,0.63 $,4.16 $
5,Cappuccino (regular),5.76 $,5.10 $,5.18 $,4.83 $,4.53 $,4.57 $,6.03 $,42.29 HK$,5.15 $,...,1.57 $,1.89 $,1.14 $,0.96 $,1.93 $,1.71 $,1.92 $,1.39 $,0.58 $,1.75 $
6,Coke/Pepsi (0.33 liter bottle),5.10 $,2.18 $,3.05 $,1.56 $,1.88 $,3.29 $,3.99 $,11.05 HK$,2.51 $,...,0.47 $,0.85 $,0.99 $,0.90 $,0.51 $,0.28 $,0.44 $,0.32 $,0.48 $,0.33 $
7,Water (0.33 liter bottle),4.60 $,1.94 $,2.24 $,1.18 $,1.39 $,2.66 $,3.02 $,9.05 HK$,2.05 $,...,0.18 $,0.51 $,0.66 $,0.46 $,0.26 $,0.15 $,0.18 $,0.12 $,0.15 $,0.23 $
9,"Milk (regular), (1 liter)",2.05 $,3.57 $,1.68 $,2.79 $,3.47 $,2.11 $,2.03 $,25.96 HK$,1.06 $,...,0.79 $,0.83 $,1.02 $,0.85 $,1.10 $,0.74 $,0.71 $,0.91 $,0.98 $,0.78 $
10,Loaf of Fresh White Bread (500g),3.86 $,4.25 $,3.44 $,2.21 $,2.60 $,3.23 $,3.26 $,19.18 HK$,3.58 $,...,0.51 $,0.72 $,0.97 $,0.71 $,0.74 $,0.58 $,0.50 $,0.66 $,0.31 $,0.58 $
11,"Rice (white), (1kg)",4.19 $,5.16 $,3.08 $,2.74 $,4.45 $,3.05 $,2.39 $,18.42 HK$,4.57 $,...,0.82 $,0.87 $,0.70 $,1.34 $,1.05 $,0.59 $,0.71 $,0.75 $,1.11 $,1.24 $
12,Eggs (regular) (12),7.22 $,5.60 $,5.80 $,3.40 $,5.33 $,4.09 $,4.68 $,29.86 HK$,3.68 $,...,1.55 $,1.82 $,2.07 $,1.69 $,1.69 $,1.18 $,0.97 $,1.44 $,1.41 $,1.20 $
13,Local Cheese (1kg),27.27 $,8.12 $,15.15 $,18.66 $,19.02 $,11.27 $,12.98 $,216.10 HK$,12.87 $,...,8.11 $,5.76 $,9.37 $,3.94 $,7.38 $,7.64 $,5.34 $,3.54 $,5.10 $,5.46 $
14,Chicken Fillets (1kg),29.82 $,10.07 $,19.88 $,10.00 $,11.95 $,14.00 $,11.18 $,75.28 HK$,12.08 $,...,3.30 $,3.20 $,4.76 $,5.31 $,4.79 $,2.38 $,3.19 $,4.63 $,3.40 $,2.83 $
15,Beef Round (1kg) (or Equivalent Back Leg Red M...,48.84 $,17.62 $,34.95 $,19.57 $,12.98 $,28.46 $,16.89 $,190.62 HK$,16.02 $,...,5.72 $,5.74 $,4.10 $,8.82 $,3.73 $,6.37 $,5.78 $,8.86 $,9.54 $,3.87 $
16,Apples (1kg),3.67 $,3.64 $,2.94 $,4.24 $,4.57 $,3.14 $,3.17 $,31.11 HK$,5.31 $,...,2.37 $,2.12 $,1.18 $,0.94 $,2.88 $,2.10 $,2.17 $,1.45 $,1.68 $,1.04 $
17,Banana (1kg),2.48 $,2.75 $,2.28 $,3.11 $,3.15 $,2.35 $,3.23 $,19.88 HK$,1.68 $,...,0.99 $,0.80 $,0.61 $,1.84 $,0.85 $,0.89 $,0.74 $,0.45 $,1.21 $,0.65 $
18,Oranges (1kg),3.10 $,4.03 $,2.78 $,4.11 $,4.60 $,3.05 $,3.40 $,29.46 HK$,4.53 $,...,1.22 $,1.09 $,0.93 $,0.85 $,0.72 $,2.05 $,1.12 $,0.33 $,0.76 $,0.77 $
19,Tomato (1kg),6.18 $,4.80 $,4.78 $,2.89 $,4.89 $,4.37 $,4.34 $,26.93 HK$,4.93 $,...,0.65 $,1.77 $,0.76 $,0.58 $,0.80 $,0.58 $,0.54 $,0.29 $,0.53 $,0.51 $
20,Potato (1kg),2.61 $,3.68 $,3.17 $,2.38 $,3.40 $,2.25 $,2.14 $,21.05 HK$,2.99 $,...,0.42 $,1.02 $,0.56 $,0.54 $,0.72 $,0.36 $,0.38 $,0.40 $,0.58 $,0.35 $
21,Onion (1kg),2.43 $,2.91 $,2.01 $,2.36 $,4.18 $,2.46 $,1.85 $,21.28 HK$,3.07 $,...,0.62 $,0.95 $,0.71 $,0.56 $,1.06 $,0.62 $,0.42 $,0.50 $,0.59 $,0.50 $
22,Lettuce (1 head),2.50 $,2.93 $,3.16 $,1.73 $,2.61 $,2.48 $,2.02 $,13.99 HK$,2.18 $,...,0.42 $,0.57 $,0.31 $,0.30 $,0.59 $,0.33 $,0.55 $,0.20 $,0.49 $,0.37 $
23,Water (1.5 liter bottle),1.18 $,2.37 $,2.17 $,1.39 $,2.50 $,2.06 $,1.42 $,12.55 HK$,2.20 $,...,0.26 $,0.50 $,0.60 $,0.56 $,0.38 $,0.27 $,0.35 $,0.18 $,0.24 $,0.37 $
24,Bottle of Wine (Mid-Range),14.16 $,18.50 $,21.77 $,23.80 $,15.00 $,14.33 $,9.74 $,120.00 HK$,15.00 $,...,6.37 $,5.30 $,4.41 $,5.00 $,5.57 $,6.44 $,8.94 $,6.15 $,1.09 $,1.81 $
25,Domestic Beer (0.5 liter bottle),2.42 $,3.69 $,3.25 $,4.22 $,2.16 $,3.22 $,1.86 $,17.45 HK$,1.83 $,...,2.31 $,0.77 $,0.78 $,0.99 $,0.94 $,2.86 $,1.89 $,1.22 $,0.74 $,1.11 $
26,Imported Beer (0.33 liter bottle),2.85 $,4.09 $,2.71 $,4.82 $,3.70 $,4.08 $,2.45 $,21.46 HK$,3.53 $,...,3.24 $,1.41 $,1.27 $,1.86 $,1.52 $,4.65 $,3.09 $,1.40 $,0.74 $,1.76 $
27,Cigarettes 20 Pack (Marlboro),10.62 $,10.35 $,12.10 $,12.59 $,10.00 $,14.33 $,8.99 $,102.00 HK$,10.00 $,...,3.00 $,1.50 $,1.76 $,3.00 $,1.86 $,2.70 $,4.17 $,1.84 $,2.21 $,1.99 $
29,One-way Ticket (Local Transport),4.13 $,1.50 $,4.62 $,1.54 $,1.75 $,4.01 $,3.60 $,12.00 HK$,2.50 $,...,0.22 $,0.48 $,0.22 $,0.10 $,0.23 $,0.42 $,0.36 $,0.20 $,0.42 $,0.18 $
30,Monthly Pass (Regular Price),94.43 $,46.00 $,76.27 $,92.14 $,66.03 $,76.42 $,89.94 $,500.00 HK$,70.00 $,...,12.37 $,35.00 $,8.81 $,12.00 $,10.21 $,15.16 $,11.93 $,6.15 $,17.50 $,7.23 $
31,Taxi Start (Normal Tariff),7.67 $,4.40 $,5.43 $,3.46 $,15.00 $,10.51 $,7.49 $,27.00 HK$,3.65 $,...,2.25 $,1.18 $,2.20 $,1.00 $,1.49 $,0.84 $,0.83 $,0.41 $,1.05 $,0.72 $
32,Taxi 1km (Normal Tariff),4.60 $,2.50 $,2.38 $,0.77 $,2.75 $,1.62 $,2.25 $,10.50 HK$,1.74 $,...,0.92 $,1.33 $,1.33 $,1.00 $,1.30 $,0.42 $,0.30 $,0.31 $,1.05 $,0.54 $
33,Taxi 1hour Waiting (Normal Tariff),76.73 $,60.00 $,75.24 $,15.66 $,40.00 $,51.58 $,71.20 $,114.00 HK$,30.00 $,...,3.75 $,6.61 $,4.96 $,5.00 $,3.71 $,2.53 $,1.43 $,1.23 $,5.27 $,1.81 $
34,Gasoline (1 liter),2.19 $,1.45 $,2.28 $,2.19 $,2.09 $,2.06 $,2.13 $,24.51 HK$,0.96 $,...,1.31 $,1.01 $,1.24 $,1.77 $,1.14 $,1.05 $,1.24 $,0.26 $,0.03 $,1.02 $
35,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"38,717.51 $","32,500.00 $","42,461.13 $","138,215.94 $","45,000.00 $","34,387.87 $","47,815.72 $","259,800.00 HK$","33,680.68 $",...,"33,746.69 $","14,000.00 $","14,324.11 $","23,880.31 $","15,785.89 $","29,480.57 $","14,310.62 $","35,552.19 $","15,796.93 $","18,068.06 $"
36,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"39,296.72 $","38,583.33 $","45,776.70 $","122,178.87 $","41,583.33 $","35,728.49 $","48,686.01 $","246,805.46 HK$","26,161.02 $",...,"43,896.62 $","24,741.61 $","23,315.24 $","23,600.00 $","6,190.55 $","25,907.52 $","22,960.03 $","31,216.97 $","16,703.58 $","23,490.89 $"
38,"Basic (Electricity, Heating, Cooling, Water, G...",258.76 $,274.43 $,97.57 $,167.16 $,124.06 $,213.33 $,224.42 $,"2,099.11 HK$",207.23 $,...,39.66 $,49.57 $,39.67 $,66.52 $,55.80 $,29.85 $,41.90 $,16.02 $,27.34 $,98.60 $
39,Mobile Phone Monthly Plan with Calls and 10GB+...,53.68 $,68.42 $,24.52 $,15.85 $,49.69 $,40.24 $,19.39 $,144.42 HK$,54.62 $,...,5.07 $,15.75 $,13.88 $,9.60 $,11.14 $,5.47 $,3.83 $,6.24 $,8.78 $,4.37 $
40,"Internet (60 Mbps or More, Unlimited Data, Cab...",57.22 $,80.77 $,73.22 $,34.57 $,63.65 $,57.41 $,38.44 $,178.87 HK$,70.99 $,...,9.98 $,18.12 $,53.73 $,35.66 $,46.11 $,15.08 $,8.29 $,8.99 $,23.91 $,14.05 $
42,"Fitness Club, Monthly Fee for 1 Adult",87.58 $,86.92 $,68.86 $,105.40 $,78.39 $,44.50 $,40.72 $,728.37 HK$,46.88 $,...,21.75 $,26.39 $,27.30 $,12.11 $,43.38 $,12.89 $,17.12 $,16.52 $,23.23 $,12.42 $
43,Tennis Court Rent (1 Hour on Weekend),43.35 $,34.00 $,28.63 $,12.06 $,15.83 $,28.85 $,30.26 $,70.65 HK$,21.49 $,...,7.66 $,13.05 $,11.29 $,5.67 $,6.81 $,10.63 $,7.45 $,6.75 $,10.19 $,8.90 $
44,"Cinema, International Release, 1 Seat",23.61 $,15.00 $,15.00 $,11.52 $,10.00 $,14.33 $,17.99 $,100.00 HK$,14.00 $,...,3.37 $,5.30 $,6.06 $,3.00 $,4.46 $,4.21 $,3.58 $,3.07 $,5.27 $,4.34 $
46,"Preschool (or Kindergarten), Full Day, Private...","2,959.08 $",396.48 $,268.83 $,"1,162.15 $",265.00 $,308.71 $,515.98 $,"7,827.78 HK$","1,381.62 $",...,63.56 $,149.11 $,110.19 $,53.08 $,217.32 $,37.39 $,74.43 $,84.30 $,56.34 $,36.60 $
47,"International Primary School, Yearly for 1 Child","34,648.42 $","9,800.83 $","5,692.65 $","28,158.67 $","7,416.67 $","6,194.20 $","6,396.49 $","172,976.00 HK$","22,654.28 $",...,"3,469.66 $","3,621.60 $","11,581.31 $","1,574.60 $","4,995.91 $","1,155.51 $","1,821.82 $","1,660.75 $",938.47 $,"1,154.36 $"
49,1 Pair of Jeans (Levis 501 Or Similar),128.01 $,58.63 $,114.42 $,68.28 $,67.50 $,89.87 $,112.77 $,613.23 HK$,52.28 $,...,25.41 $,52.68 $,18.14 $,21.14 $,11.30 $,16.96 $,26.58 $,31.45 $,27.71 $,15.00 $
50,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",62.46 $,45.94 $,50.16 $,46.22 $,57.50 $,46.72 $,44.41 $,338.55 HK$,42.97 $,...,33.09 $,37.96 $,24.56 $,29.74 $,21.59 $,17.44 $,27.76 $,48.95 $,27.47 $,22.84 $
51,1 Pair of Nike Running Shoes (Mid-Range),137.70 $,109.08 $,155.72 $,95.63 $,137.50 $,104.99 $,114.58 $,728.19 HK$,88.81 $,...,45.37 $,73.79 $,83.81 $,53.73 $,43.95 $,36.68 $,46.03 $,98.22 $,45.04 $,63.67 $
52,1 Pair of Men Leather Business Shoes,183.58 $,110.36 $,183.96 $,106.05 $,110.83 $,136.69 $,165.10 $,"1,185.97 HK$",113.79 $,...,32.18 $,55.50 $,56.88 $,48.67 $,41.36 $,34.17 $,33.42 $,45.52 $,51.25 $,30.30 $
54,Apartment (1 bedroom) in City Centre,"1,996.08 $","1,010.00 $","1,864.73 $","2,743.42 $",659.47 $,"1,254.96 $","1,199.54 $","18,666.67 HK$","1,759.85 $",...,151.60 $,399.40 $,362.04 $,144.08 $,338.81 $,90.11 $,203.84 $,176.66 $,189.89 $,110.36 $
55,Apartment (1 bedroom) Outside of Centre,"1,626.75 $","1,157.78 $","1,669.79 $","2,038.39 $",518.75 $,918.57 $,916.29 $,"13,021.28 HK$","1,452.69 $",...,86.13 $,309.92 $,75.98 $,90.08 $,216.54 $,51.16 $,126.06 $,101.18 $,112.31 $,67.90 $
56,Apartment (3 bedrooms) in City Centre,"3,555.05 $","2,640.00 $","2,645.62 $","5,530.56 $","1,699.38 $","1,926.95 $","2,132.19 $","38,934.21 HK$","2,966.84 $",...,295.17 $,682.98 $,564.70 $,320.20 $,685.25 $,226.15 $,489.54 $,313.14 $,372.46 $,253.73 $
57,Apartment (3 bedrooms) Outside of Centre,"2,911.85 $","2,520.00 $","2,381.24 $","3,902.11 $","1,250.00 $","1,471.64 $","1,604.94 $","26,384.21 HK$","2,414.28 $",...,172.42 $,447.78 $,278.43 $,196.57 $,407.28 $,130.56 $,300.25 $,213.51 $,205.02 $,151.79 $
59,Price per Square Meter to Buy Apartment in Cit...,"18,001.04 $","1,983.33 $","6,006.44 $","21,128.25 $","3,500.00 $","6,531.69 $","5,840.62 $","227,314.93 HK$","3,680.83 $",...,"1,737.41 $","1,115.62 $",782.32 $,"1,450.00 $","4,475.88 $",763.27 $,"1,776.85 $",572.14 $,748.32 $,594.64 $
60,Price per Square Meter to Buy Apartment Outsid...,"13,760.99 $",846.41 $,"4,920.55 $","13,954.52 $","3,500.00 $","4,489.47 $","4,081.27 $","143,602.35 HK$","2,935.42 $",...,"1,093.70 $",838.44 $,495.83 $,583.33 $,"6,003.56 $",428.91 $,993.92 $,336.56 $,294.17 $,401.69 $
62,Average Monthly Net Salary (After Tax),"7,144.44 $","2,047.22 $","4,378.75 $","4,576.64 $","1,193.16 $","3,445.23 $","3,820.78 $","31,495.91 HK$","4,483.73 $",...,215.76 $,356.73 $,131.49 $,42.22 $,215.90 $,239.61 $,633.31 $,143.71 $,323.24 $,181.71 $
63,"Mortgage Interest Rate in Percentages (%), Yea...",2.52,7.19,7.65,3.56,5.62,4.26,4.05,4.02,6.59,...,13.20,10.31,17.25,14.00,16.34,9.85,8.90,14.85,14.95,20.23